<!DOCTYPE html>
<html lang="{{ conf.lang }}">
<head>
  {% block head -%}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link media="all" href="{{ env.path + '/style.css' }}" rel="stylesheet" />
  <link href="/favicon.ico" rel="shortcut icon" />
    {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
    {%- endif%}
  <link href="{{ env.path + '/' }}" rel="home" />
  <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link href="{{ env.path + '/rss/' }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {%- endblock %}
</head>
<body>
  <!-------------------- Header ----------------------->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a href="{{ env.path + '/' }}" class="brand">{{ conf.sitename }}</a>
        <ul class="nav pull-right">
            <li><a href="{{ env.path + '/' }}">Blog</a></li>
            <li><a href="{{ env.path + '/atom/' }}">Atom</a></li>
            <li><a href="{{ env.path + '/rss/' }}">Rss</a></li>
            <li><a href="{{ env.path + '/articles/' }}">Articles</a></li>
        </ul>
    </div>
  </div>

  <!------------------ Content ---------------------->
  <div id="content" class="container">
      <div class="row">
          <div class="span10">
          {%- block content -%}
          {%- endblock -%}
          </div>
          
          <div class="span2">
            <!-- insert your sidebar items here -->
            <h4>Tags</h4>
            <ul class="nav nav-list">
            {% for tag in env.tag_cloud %} <!-- if tag.step < 2 -->
              <li class="{{ tag.step }}"><a href="/tag/{{ tag.name | safeslug }}/">{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
            <h4>Links</h4>
            <ul class="nav nav-list">
            {% for name, href in conf.blogroll %}
              <li><a href="{{ href }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
          </div>
      </div>
  </div>

  <!------------------ Footer ----------------------->
  <div class="footer">
    {% block footer %}
    <p>Written by <a href="mailto:{{ conf.email }}">{{ conf.author }}</a> under 
    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="copyright">
        <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/80x15.png" alt="by-nc-sa" />
    </a></p>
    {% endblock %}
  </div>
</body>
</html>
